/* ========================================================= */
/*   Base styles                                             */
/* ========================================================= */
:root {
  --base-font-size: 16px;
}

 html, body {
  height: 100vh;
  width: 100vw;
  font-size: var(--base-font-size);
  box-sizing: content-box;
}

main {
  padding: 1em;
  height: calc(100vh - 3em);
  overflow-y: auto;
}

/* ========================================================= */
/*   Header                                                  */
/* ========================================================= */
.header {
  height: 3em;
  width: 100%;
  background: #555;
  border-bottom: solid 0.25em #333;
  color: #fff;
}
.header-nav {
  display: flex;
  height: 100%;
  width: 100%;
}
.nav-menubar {
  display: flex;
  width: 100%;
  margin: 0;
}
.nav-menuitem {
  position: relative;
  min-width: 4em;
  flex-grow: 1;
}
.nav-menuitem.snap-left {
  justify-content: flex-start;
}
.nav-menuitem.padding {
  flex-grow: 999;
}
.nav-menuitem.snap-right {
  justify-content: flex-end;
}
.nav-menuitem.active {
  border-bottom: solid 3px transparent;
  border-image: linear-gradient(to right, transparent, #eee 35%, #eee 65%, transparent) 1;
}
.nav-menuitem.padding::before {
  display: none;
}
.nav-menuitem:not(.logo)::before {
  content: "";
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.25) 0%, rgba(125, 125, 125, 0.1) 80%, rgba(75, 75, 75, 0) 100%);
  mask-image: radial-gradient(circle, black 0%, transparent 80%);
  backdrop-filter: blur(20px);
  z-index: 1;
  transition: opacity 0.5s ease;
}
.nav-menuitem:not(.logo):hover::before {
  opacity: 1;
  transition: opacity 0.5s ease;
}
.nav-menulink {
  position: relative;
  text-decoration: none;
  color: inherit;
  display: flex;
  height: 100%;
  width: 100%;
  min-width: 6em;
  padding: 5px;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.logo .nav-menulink {
  font-size: 1.5rem;
  justify-content: flex-start;
  padding: 0.25em 0.5em;
}

.headline {
  position: relative;
  border-bottom: solid 2px #333;
  padding-left: 1em;
}
h1.headline {
  font-size: 1.5em;
}
h2.headline {
  font-size: 1.3em;
}
h3.headline {
  font-size: 1.15em;
}
.headline::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0.5em;
  left: 0;
  background: #aaa;
}

/* ========================================================= */
/*   Tab                                                     */
/* ========================================================= */
.tab {
  position: relative;
}
.tab-nav {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
.tab-nav-item {
  border: solid 1px #aaa;
  border-radius: 0.5em 0.5em 0 0;
  background: #ddd;
}
.tab-nav-item.active {
  background: #dc28d2;
}
.tab-nav-link {
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 0.5em 1em;
  color: #333;
  text-decoration: none;
}
.tab-nav-item.active > .tab-nav-link {
  color: #fefefe;
}

.tab-contents {
  width: 100%;
  border: solid 1px #aaa;
  border-radius: 0 0.5em 0.5em 0.5em;
  padding: 0.5em;
}
.tab-content {
  background: rgba(40, 30, 45);
}
.tab-content:not(.active) {
  display: none;
}

/* ========================================================= */
/*   Flex Layout                                             */
/* ========================================================= */
.flex-container {
  display: flex;
  padding: 0.25em 0.5em;
  flex-wrap: wrap;
}
.flex-container.bg-effect {
  background-size: 10px 10px;
  background-image: linear-gradient( -45deg, #333 0%, #333 45%, #a61fcb 50%, #a61fcb 50%, #333 55%);
  background-repeat: repeat;
}
.flex-container > .row {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.flex-container > .column {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.flex-container .box {
  display: flex;
  height: 4em;
  width: 8em;
  justify-content: center;
  align-items: center;
  background: rgba(220, 40, 210);
  color: #fff;
  margin: 0.5em 0.5em;
  border-radius: 0.5em;
  flex-wrap: nowrap;
}

/* ========================================================= */
/*   Section                                                 */
/* ========================================================= */
.section {
  display: flex;
  align-items: center;
  width: 30em;
  height: 100%;
  padding: 0.5em;
}
.section-headline {
  font-size: 1.5em;
}

/* ========================================================= */
/*   Form                                                    */
/* ========================================================= */
.form {
  height: calc(100% - 4.5em);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2a353a;
  color: #fff;
  font-size: 1.25em;;
}

.form-content {
  padding: 0.5em 0.25em;
}
.form-content > * {
  display: flex;
  width: 100%;
}
.form-input {
  font-size: 1.1em;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  background: #4a555a;
  border: solid 1px #777;
  color: #ccc;
  margin-top: 0.25em;
}

.btn {
  display: flex;
  text-align: center;
  border: none;
  border-radius: 0.25em;
  font-size: 1em;
  padding: 0.5em 0.5em;
  margin-top: 1em;
  justify-content: center;
  background: #25b;
  color: #fff;
}

.link {
  padding: 0 0.5em;
  color: #25b;
  text-decoration: none;
}

.form .description {
  margin: 0.25em 0;
  padding: 0.25em 0;
  border-top: solid 1px #aaa;
  border-image: linear-gradient(to right, transparent, #aaa 5%, #aaa 95%, transparent) 1;
}

/* ========================================================= */
/*   Toast                                                   */
/* ========================================================= */
.toast-container {
  position: fixed;
  height: calc(100vh - 4em);
  width: (100vw);
  max-width: 20em;
  top: 4em;
  right: 0;
  z-index: 999;
  padding: 0.25em 0.5em;
}
.toast {
  position: relative;
  left: 0;
  width: 18em;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  opacity: 0.8;
  box-shadow: #333 0.25em 0.25em 0.25em;
  margin-bottom: 0.5em;
  opacity: 0;
}
.toast[data-type=error] {
  background: #e89;
}
.toast[data-type=warn] {
  background: #ec8;
}
.toast[data-type=info] {
  background: #8ac;
}
.toast-summary {
  font-weight: bold;
}

.ui-appear {
  opacity: 1;
  transition: opacity 0.25s;
}
.ui-vanish {
  opacity: 0;
  transition: opacity 0.5s;
}

.ui-state-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
